<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application History</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <table border="1">
    <tr>
      <th>id</th>
      <th>date</th>
      <th>billing</th>
      <th>app</th>
      <th>result</th>
      <th>remarks</th>
    </tr>
    <tr th:each="billing:${billing1List}">
      <td th:text="${billing.id}"></td>
      <td th:text="${billing.date}"></td>
      <td th:text="${billing.billing}"></td>
      <td th:text="${billing.application}"></td>
      <td th:text="${billing.result}"></td>
      <td th:text="${billing.remarks}"></td>
    </tr>
  </table>
</body>
</html>